@page
@model Bank.Pages.Loans.IndexModel

@{
    ViewData["Title"] = "Loans";
}

<h1>Loans</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].loan_balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan[0].created_at)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Loan[0].UserId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Loan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.loan_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
