@page
@model Bank.Pages.CreditExpenses.IndexModel

@{
    ViewData["Title"] = "CreditExpenses";
}

<h1>CreditExpenses</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditExpense[0].expense_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditExpense[0].created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CreditExpense) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.expense_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
